<h1>Pending Teas</h1>
<% @teas.each do |tea| %>
  <%= form_for @tea do |f| %>
    <%= f.text_field :oxidation, value: "#{tea.oxidation}" %>
    <%= f.text_field :name, value: "#{tea.name}" %>
    <%= f.text_field :aka, value: "#{tea.aka}"  if tea.aka %><br/>
    <%= f.text_area :description, value: "#{tea.description}" %><br/>
    <%= f.hidden_field :id, value: "#{tea.id}" %>
    <button id="deny"><%= link_to "Deny", tea, :method => :delete, data: {confirm: 'Are you sure you want to delete this tea?'} %></button>
    <%= f.submit :Approve, id: 'approve'%>
    <br/><br/><br/><br/>
  <% end %>
<% end %>
