<div class='profile'>

<h2 class='tight'><%= tea.oxidation %> Tea</h2>
<h3 class='tight'><%= link_to tea.name_post_count, "/#{tea.klass}/#{tea.id}" %></h3>
<%= tea.description %>
<% if !current_user.teas.include?(tea) && tea.class == Tea %>
    <h5 class='tight'><%= link_to 'Add to collection', new_tea_user_path(tea) %></h5>
<% end %>
<% if current_user.teas.include?(tea) %>
    <h5 class='tight'><%= button_to "Remove from collection", tea, :method => :delete %></h5>
<% end %>
</div>