<div class='profile' id='teaid-<%=tea.id%>'>
  <h2 class='tight'><%= "#{tea.oxidation} Tea" if request.env['PATH_INFO'] != '/teas' && current_user.teas.by_oxidation != @teas %></h2>
  <h3 class='tight'><%= link_to tea.name_post_count, "/#{tea.klass}/#{tea.id}" %></h3>
  <%= tea.description %><br>

  <div class="add-rmv">
    <% if current_user.teas.include?(tea) && !admin? %>
      <button class=<%= tea.rating(current_user) == 1 ? 'selected' : 'rate-button' %> id='rate-1'><%= link_to '1', "javascript:rateTea(#{tea.id}, 1)" %></button>
      <button class=<%= tea.rating(current_user) == 2 ? 'selected' : 'rate-button' %> id='rate-2'><%= link_to '2', "javascript:rateTea(#{tea.id}, 2)" %></button>
      <button class=<%= tea.rating(current_user) == 3 ? 'selected' : 'rate-button' %> id='rate-3'><%= link_to '3', "javascript:rateTea(#{tea.id}, 3)" %></button>
      <button class=<%= tea.rating(current_user) == 4 ? 'selected' : 'rate-button' %> id='rate-4'><%= link_to '4', "javascript:rateTea(#{tea.id}, 4)" %></button>
      <button class=<%= tea.rating(current_user) == 5 ? 'selected' : 'rate-button' %> id='rate-5'><%= link_to '5', "javascript:rateTea(#{tea.id}, 5)" %></button>
      <h5 class='tight'><%= link_to "Remove from collection", "javascript:rmvTea(#{tea.id})" %></h5>
    <% else %>
      <% if !admin? %>
        <h5 class='tight'><%= link_to 'Add to collection', "javascript:addTea(#{tea.id})" %></h5>
      <% end %>
    <% end %>
  </div>

  <% if current_user.pending_teas.include?(tea) %>
      <h5 class='tight'><%= link_to 'Edit', edit_pending_tea_path(tea) %> | <%= link_to "Delete", tea, :method => :delete %></h5>
  <% end %>

  <% if admin? %>
      <h5 class='tight'><%= link_to 'Edit', edit_tea_path(tea) %> | <%= link_to "Delete", tea, :method => :delete %></h5>
  <% end %>

</div>
