<div class='profile' id='teaid-<%=tea.id%>'>

  <div class="tea-profile">
    <h2 class='tight'><%= "#{tea.oxidation} Tea" if request.env['PATH_INFO'] != '/teas' && current_user.teas.by_oxidation != @teas %></h2>
    <h3 class='tight'><%= link_to tea.name_post_count, "/#{tea.klass}/#{tea.id}" %></h3>
    <%= tea.description %><br>

<div class="add-rmv">
<% if current_user.teas.include?(tea) && !admin? %>
  <h5 class='tight'><%= link_to "Remove from collection", "javascript:rmvTea(#{tea.id})" %></h5>
<% else %>
  <h5 class='tight'><%= link_to 'Add to collection', "javascript:addTea(#{tea.id})" %></h5>
<% end %>
</div>

<% if current_user.teas.include?(tea) && !admin? %>
  <div class="tea-rate">
    <button class=<%= tea.rating(current_user) == 1 ? 'selected' : 'rate-button' %>><%= link_to '1', "teas/#{tea.id}/rate/1" %></button>
    <button class=<%= tea.rating(current_user) == 2 ? 'selected' : 'rate-button' %>><%= link_to '2', "teas/#{tea.id}/rate/2" %></button>
    <button class=<%= tea.rating(current_user) == 3 ? 'selected' : 'rate-button' %>><%= link_to '3', "teas/#{tea.id}/rate/3" %></button>
    <button class=<%= tea.rating(current_user) == 4 ? 'selected' : 'rate-button' %>><%= link_to '4', "teas/#{tea.id}/rate/4" %></button>
    <button class=<%= tea.rating(current_user) == 5 ? 'selected' : 'rate-button' %>><%= link_to '5', "teas/#{tea.id}/rate/5" %></button>
  </div>
</div>
<% end %>

<% if current_user.pending_teas.include?(tea) %>
    <h5 class='tight'><%= link_to 'Edit', edit_pending_tea_path(tea) %> | <%= link_to "Delete", tea, :method => :delete %></h5>
<% end %>

<% if admin? %>
    <h5 class='tight'><%= link_to 'Edit', edit_tea_path(tea) %> | <%= link_to "Delete", tea, :method => :delete %></h5>
<% end %>

</div>
