<div class="side-bar">
  <div class="toggle-nav">
    <%= link_to "Black Tea", "javascript:toggleView('Black')" %><br/>
    <%= link_to "Green Tea", "javascript:toggleView('Green')" %><br/>
    <%= link_to "Oolong Tea", "javascript:toggleView('Oolong')" %><br/>
    <%= link_to "Puerh Tea", "javascript:toggleView('Puerh')" %><br/>
    <%= link_to "White Tea", "javascript:toggleView('White')" %><br/>
    <%= link_to "Yellow Tea", "javascript:toggleView('Yellow')" %><br/>
    <%= link_to "All Tea", "javascript:toggleView('all')" %><br/>
  </div>

  <div class="widget">
    <br/><strong>Timer</strong><br/><br/>
    <div class="timer">
      <input type="number" class='timebox' id="min" integer="true" placeholder="00"/>:<input type="number" class='timebox' id="sec" integer="true" placeholder="00"/>
    </div>
    <br/><%= link_to 'Start', 'javascript:timer()' %><br/><br/>
  </div>
</div>

<div class="main-area">
  <%= link_to 'a-z', 'javascript:alpha()', id: 'sortAtoZ', class: 'all'%>
  <input type="text" name="search" id='search' placeholder="Search...">
  <div class="show-all" id='all'>
    <% @teas.each do |type, array| %>
      <div class="show" id='<%=type%>'>
        <h2><%= "#{type} Tea" %></h2><br/>
          <% array.each do |tea| %>
            <%= render partial: "tea_profile", locals: { tea: tea } %>
          <% end %>
      </div>
    <% end %>
  </div>
  <div id="show-search">
  </div>
</div>

<div class="hide" id="newForm">
  <%= render partial: "tea_form", locals: { tea: Tea.new } %>
</div>
