<div class='profile'>
<% if @edit_post == post %>
  <%= render partial: "posts/post_form", locals: { post: @edit_post } %>
<% else  %>
  <p><strong><%= link_to post.user.username, user_path(post.user) %>: </strong><%= post.content %></p>
<% end %>
  <h5 class='tight'><%= link_to 'Edit', edit_tea_post_path(post.tea, post) if owner?(post) %>
  <%= link_to "Delete", post, :method => :delete, data: {confirm: 'Are you sure you want to delete this post?'} if owner?(post) || admin? %></h5>
</div>
