<div class="side-bar">
  <div class="toggle-nav">
    <%= link_to "Users:", "javascript:toggleView('allUsers')", id: 'user', calss: ''%> <span id="userQty"><%=@users.size%></span><br/>
    <%= link_to "Teas:", "javascript:toggleView('allTeas')" %> <span id="teaQty"><%=@teas.size%></span><br/>
    <%= link_to "Posts:", "javascript:toggleView('allPosts')"  %> <span id="postQty"><%=@posts.size%></span><br/>
    <%= link_to "Pending Teas:", "javascript:toggleView('allPending')" %> <span id="pteaQty"><%=@p_teas.size%></span><br/>
  </div>
</div>

<div class="main-area">
  <h1 class='page-title'>Admin Console</h1>

  <div class="hide" id='allUsers'>
    <h2 class='tight-title'>Users</h2>
    <% @users.each do |user| %>
      <div class="profile" id='userid-<%=user.id%>'>
        <%= user.username %>
        <p>Teas: <%= user.pending_teas.size %> |
        Posts: <%= user.posts.size %> |
        Contributions: <%= user.contributions %></p>
        <h6 class='tight'><%= link_to "#{user.admin == false ? 'grant' : 'remove'} admin permission", "javascript:toggleAdmin(#{user.id})", data: {confirm: "Are you sure you change status for #{user.username}?" } %></h6>
        <br/><br/>
      </div>
    <% end %>
  </div>

  <div class="hide" id='allTeas'>
    <h2 class='tight-title'>Teas</h2>
    <% @teas.each do |tea| %>
      <%= render partial: "teas/tea_profile", locals: { tea: tea } %>
    <% end %>
  </div>

  <div class="hide" id='allPosts'>
    <h2 class='tight-title'>Recent Posts</h2>
    <% @posts.each do |post| %>
        <%= render partial: "posts/post_profile", locals: { post: post } %>
    <% end %>
  </div>

  <div class="show" id='allPending'>
    <h2 class='tight-title'>Pending Teas</h2>
    <% @p_teas.each do |tea| %>
      <div id="pendform-<%=tea.id%>">
        <%= render partial: "teas/tea_form", locals: { tea: tea } %>
        <br/><br/><br/><br/>
      </div>
    <% end %>
  </div>
</div>

<div id="newForm" class='hide'>
  <%= render partial: "teas/tea_form", locals: { tea: @tea } %>
</div>
