<div class="side-bar">
  <div class="toggle-nav">
    <%= link_to "Users: #{@users.size}", "javascript:toggleView('allUsers')" %><br/>
    <%= link_to "Teas: #{@t_qty}", "javascript:toggleView('allTeas')" %><br/>
    <%= link_to "Posts: #{@posts.size}", "javascript:toggleView('allPosts')"  %><br/>
    <%= link_to "Pending Teas: #{@p_teas.size}", "javascript:toggleView('allPending')" %><br/>
  </div>
</div>

<div class="main-area">
  <h1 class='page-title'>Admin Console</h1>

  <div class="hide" id='allUsers'>
    <h2 class='tight-title'>Users</h2>
    <% @users.each do |user| %>
    <div class="user-profile" id='userid-<%=user.id%>'>
        <%= user.username %>
        <p>Teas: <%= user.pending_teas.size %> |
        Posts: <%= user.posts.size %> |
        Contributions: <%= user.contributions %></p>
        <h6 class='tight'><%= link_to "#{user.admin == false ? 'grant' : 'remove'} admin permission", "javascript:toggleAdmin(#{user.id})", :method => :put, data: {confirm: "Are you sure you change status for #{user.username}?" } %></h6>
        <br/><br/>
    </div>
      <% end %>
  </div>

  <div class="hide" id='allTeas'>
    <h2 class='tight-title'>Teas</h2>
    <% @teas.each do |tea| %>
      <%= render partial: "teas/tea_profile", locals: { tea: tea } %>
    <% end %>
  </div>

  <div class="hide" id='allPosts'>
    <h2 class='tight-title'>Recent Posts</h2>
    <% @posts.each do |post| %>
        <%= render partial: "posts/post_profile", locals: { post: post } %>
    <% end %>
  </div>

  <div class="show" id='allPending'>
    <h2 class='tight-title'>Pending Teas</h2>
    <% @p_teas.each do |tea| %>
      <div id="pendform-<%=tea.id%>">
        <%= form_for @tea do |f| %>
          <%= f.text_field :oxidation, value: "#{tea.oxidation}" %>
          <%= f.text_field :name, value: "#{tea.name}" %>
          <%= f.text_field :aka, value: "#{tea.aka}"  if tea.aka %><br/>
          <%= f.text_area :description, value: "#{tea.description}" %><br/>
          <%= f.hidden_field :id, value: "#{tea.id}" %>
          <button id="deny"><%= link_to "Deny", "javascript:teaDeny(#{tea.id})", data: {confirm: 'Are you sure you want to delete this tea?'} %></button>
          <%= f.submit :Approve, id: 'approve' %>
          <br/><br/><br/><br/>
        <% end %>
      </div>
    <% end %>
  </div>

</div>
