<h1>Admin Console</h1>
<% @posts.each do |post| %>
  <h2><%= post.user.username %><br>
  <p><%= post.content %></p></h2>
<% end %>

<h2>Stats</h2>
<h3>Users: <%= link_to @users.size, users_path %></h3>
<h3>Teas: <%= link_to @teas.size, teas_path %></h3>
<h3>Posts: <%= link_to @posts.size, posts_path  %></h3>
<h3><%= link_to "Pending Teas: #{@p_teas.size}", pending_teas_path %></h3>
  
