<h1><%= current_user.username %> ~ <%= current_user.contributions %></h1>

<h2 class='tight-title'>My Tea Contributions <%= current_user.pending_teas.size %></h2>
<% current_user.pending_teas.each do |tea| %>
  <%= render partial: "teas/tea_profile", locals: { tea: tea } %>
<% end %>

<h2 class='tight-title'>My Posts Contributions <%= current_user.posts.size %></h2>
<% current_user.posts.each do |post| %>
  <%= link_to post.tea.name, tea_path(post.tea) %>
  <%= render partial: "posts/post_profile", locals: { post: post } %>
<% end %>

<h2 class='tight-title'>My Collection <%= current_user.teas.size %></h2>
<% current_user.teas.each do |tea| %>
  <%= render partial: "teas/tea_profile", locals: { tea: tea } %>
<% end %>

<h2 class='tight-title'>My Connections <%= current_user.friends.size %></h2>
<% current_user.friends.each do |user| %>
  <%= render partial: "users/user_profile", locals: { user: user } %>
<% end %>

<h2 class='tight-title'>Recent Posts</h2>
<% @posts.each do |post| %>
  <%= link_to post.tea.name, tea_path(post.tea) %>
  <%= render partial: "posts/post_profile", locals: { post: post } %>
<% end %>
