<h1>Admin Console</h1>
<% @posts.each do |post| %>
  <h2><%= post.user.username %><br>
  <p><%= post.tea.name %></p></h2>
  <p><%= post.content %></p></h2>
<% end %>

<% current_user.posts.each do |post| %>
  <h2><%= post.tea.name %></h2>
  <p><%= post.content %></p>
<% end %>

<% current_user.pending_teas.each do |tea| %>
  <h2><%= tea.name %></h2>
  <p>Aka: <%= tea.aka %></p>
  <p>Type: <%= tea.oxidation %></p>
  <p>info:<%= tea.description %></p>
<% end %>
