<!DOCTYPE html>
<html>
  <head>
    <title>Teafolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
    <div class="wrapper">
      <div class="header">
        <h1>Teafolio</h1>
        <h2>Collect | Connect | Contribute</h2>
      </div>
      <% if logged_in?%>
        <div class="navbar">
          <h3><%= button_to 'Browse Teas', teas_path %>
          <%= button_to 'My Profile', root_path %>
          <%= button_to 'Logout', logout_path %>
          <%= button_to 'Add A Tea', new_tea_path %></h3>
          <br></br>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
