<!DOCTYPE html>
<html>
  <head>
    <title>Teafolio</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    </head>

    <body>
    <div class="wrapper">
      <div class="header">
        <h1>Teafolio</h1>
        <h2>Collect | Connect | Contribute</h2>
      </div>
      <% if logged_in?%>
        <div class="navbar"><h3>
          <% if admin? %>
            <button><%= link_to 'Admin Hub', root_path %></button>
          <% else %>
            <button><%= link_to 'My Profile', root_path %></button>
          <% end %>
          <button><%= link_to 'Browse Teas', teas_path %></button>
          <button><%= link_to 'Add A Tea', new_tea_path %></button>
          <button><%= link_to 'Logout', logout_path %></button></h3>
          <br></br>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
